apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: chat-app-dev

resources:
- ../../base

commonLabels:
  environment: development

patches:
- patch: |-
    - op: replace
      path: /spec/replicas
      value: 1
  target:
    kind: Deployment
    name: backend
- patch: |-
    - op: replace
      path: /spec/replicas
      value: 1
  target:
    kind: Deployment
    name: frontend
- patch: |-
    - op: replace
      path: /data/NODE_ENV
      value: development
  target:
    kind: ConfigMap
    name: chat-app-config
- patch: |-
    - op: replace
      path: /data/CLIENT_URL
      value: http://localhost:5173
  target:
    kind: ConfigMap
    name: chat-app-config

configMapGenerator:
- name: dev-config
  literals:
  - LOG_LEVEL=debug
  - ENABLE_CORS=true
