apiVersion: v1
kind: ConfigMap
metadata:
  name: mongodb-init-script
  labels:
    app: mongodb
data:
  mongo-init.js: |
    db = db.getSiblingDB('chat_db');
    
    db.createCollection('users');
    db.createCollection('messages');
    
    db.users.createIndex({ "email": 1 }, { unique: true });
    db.users.createIndex({ "username": 1 }, { unique: true });
    db.messages.createIndex({ "createdAt": 1 });
    db.messages.createIndex({ "senderId": 1, "receiverId": 1 });
    
    print('Database initialized successfully!');